@model Progress.Sitefinity.AspNetCore.Models.PageModel
@using Progress.Sitefinity.AspNetCore.Mvc.Rendering

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Progress.Sitefinity.AspNetCore

@inject Progress.Sitefinity.AspNetCore.Web.IRequestContext requestContext;
@inject Progress.Sitefinity.AspNetCore.Web.IRenderContext renderContext;

<!DOCTYPE html>
<html id="html" lang="@requestContext.Culture">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    @Html.RenderSeoMeta(this.Model)

    @RenderSection("Top", required: false)

    @* Scripts for the OOB Sitefinity widgets *@
    <link rel="stylesheet" href="@Progress.Sitefinity.AspNetCore.Constants.PrefixRendererUrl("styles/main.css")" type="text/css" />

    @* TODO: Minify *@
    <link rel="stylesheet" href="/resourcepackages/idt/assets/css/bootstrap5-idt.css" />

    <environment include="Development">
        <link rel="stylesheet" href="/resourcepackages/idt/assets/css/idt-custom.css" />
        <link rel="stylesheet" href="/resourcepackages/idt/assets/css/editor-styles.css" />
    </environment>
    <environment exclude="Development"></environment>

    @RenderSection("Head", required: false)
</head>

<body class="container-fluid">
    <header data-sfcontainer="Header">
    </header>
    <main data-sfcontainer="Content">
    </main>
    <footer data-sfcontainer="Footer">
    </footer>
    
    @RenderSection("Scripts", required: false)
        <div id="script-wrapper" class="row" style="visibility:hidden; opacity:0; max-width:0; max-height:0; position:absolute; left:-9999px; top:-9999px;">
            @if (renderContext.IsEdit)
            {
                <h6 id="script-section-header" class="text-center col-xl-12" style="display:none; color:#999; background-color:#caeed8; padding: 5px 10px">Javascript and Css Widgets go below here</h6>
            }
        <div class="col-xl-12" data-sfcontainer="EditorScriptsAndStyles"></div>
    </div>
    
</body>
</html>
